repos:
  - repo: local
    hooks:
      - id: ruff-format
        language: python
        name: ruff-format
        pass_filenames: false
        entry: uv run ruff format async_eval tests

  - repo: local
    hooks:
      - id: ruff
        language: python
        name: ruff
        pass_filenames: false
        entry: uv run ruff check --fix --exit-non-zero-on-fix --show-fixes async_eval tests

  - repo: local
    hooks:
      - id: ty
        language: python
        name: ty
        pass_filenames: false
        entry: uv run ty check async_eval --error-on-warning
